html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: #020b18;
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
}

#game {
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}
