html, body {
  margin: 0;
  padding: 0;
  background: #06120e;
  height: 100%;
  overflow: hidden;
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
}

#game {
  width: 100%;
  height: 100%;
}

#game canvas {
  max-width: 100vw;
  max-height: 100vh;
}
